<ion-header>
  <ion-navbar>
    <ion-title>FinAppcije</ion-title>
  </ion-navbar>

  <!--<ion-grid>
    <ion-row>
      <ion-col>
        <ion-item nopadding>
          <ion-label>From:</ion-label>
          <ion-datetime displayFormat="MMM/YYYY" pickerFormat="MMM/YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item nopadding>
          <ion-label>To:</ion-label>
          <ion-datetime displayFormat="MMM/YYYY" pickerFormat="MMM/YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item nopadding>
          <ion-label>Types</ion-label>
          <ion-select [(ngModel)]="selectedRecordTypes">
            <ion-option *ngFor="let recordType of recordTypes" value="{{recordType}}">{{recordType}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item nopadding>
          <ion-label>Categories</ion-label>
          <ion-select [(ngModel)]="selectedCategories">
            <ion-option *ngFor="let category of categories" value="{{category}}">{{category}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>-->

</ion-header>

<ion-fab right bottom style="margin-bottom: 60px">
  <button ion-fab (click)="openAddRecordPage()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>

<ion-tabs #tabs>
  <ion-tab [root]="recordsTabRoot" tabTitle="Records" tabIcon="list"></ion-tab>
  <ion-tab [root]="chartsTabRoot" tabTitle="Charts" tabIcon="stats"></ion-tab>
</ion-tabs>
