<ion-header>
  <ion-navbar>
    <ion-title>FinAppcije</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><h4 padding-left="15px">Type</h4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h5 padding-left="15px">Income/Expense</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <div style="display: block; max-width: unset; width: 100%" *ngIf="showChart">
        <canvas baseChart
                #baseChart
                [data]="totalGraphData"
                [labels]="['Income','Expense']"
                chartType="doughnut"
                ></canvas>
      </div>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h5 padding-left="15px">Income</h5>
      </ion-col>
      <ion-col col-6>
        <ion-select [(ngModel)]="incomeDataCategory" style="max-width: unset" (ionChange)="getNewData()">
          <ion-option value="all">All categories</ion-option>
          <ion-option *ngFor="let category of incomeCategories" value="{{category}}">{{category}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <div style="display: block; max-width: unset; width: 100%" *ngIf="showChart">
        <canvas baseChart
                #baseChart
                [data]="chartIncomeData"
                [labels]="chartIncomeLabels"
                chartType="doughnut"
                ></canvas>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4 text-right right item-end padding-right="50px" padding-top="50px">Total: {{totalIncomeAmount}}</h4>
      </ion-col>
    </ion-row><ion-row>
      <ion-col col-6>
        <h5 padding-left="15px">Income/Outcome</h5>
      </ion-col>
      <ion-col col-6>
        <ion-select [(ngModel)]="expenseDataCategory" style="max-width: unset" (ionChange)="getNewData()">
          <ion-option value="all">All categories</ion-option>
          <ion-option *ngFor="let category of expenseCategories" value="{{category}}">{{category}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <div style="display: block; max-width: unset; width: 100%" *ngIf="showChart">
        <canvas baseChart
                #baseChart
                [data]="chartExpenseData"
                [labels]="chartExpenseLabels"
                chartType="doughnut"
                ></canvas>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4 text-right right item-end padding-right="50px" padding-top="50px">Total: {{totalExpenseAmount}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
